@import "./Variables.scss";

.profile-wrapper {
  .ant-card-body {
    .ant-typography {
      text-align: center;
      margin-bottom: 2rem;
    }
    .auth-options {
      display: flex;
      justify-content: space-between;
      button {
        width: 120px;
      }
    }
  }
  .profile-card {
    .ant-card-cover {
      .picture-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        background-color: $gray;
        .user-avatar {
          position: relative;
          img {
            background-color: $black;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            object-fit: contain;
          }
          span {
            position: absolute;
            bottom: 5px;
            right: 10px;
            svg {
              color: $primary-color;
              fill: $gray;
            }
          }
        }
      }
      .avatar-uploader {
        .ant-upload {
          span {
            img {
              background-color: $black;
              height: 300px;
              object-fit: contain;
            }
          }
        }
      }
    }
    .ant-card-body {
      .ant-card-meta {
        &-detail {
          .ant-card-meta-description {
            .ant-descriptions-item-content {
              color: $secondary-color-text;
            }
            .ant-descriptions-item {
              .ant-descriptions-item-content {
                display: flex;
                align-items: center;
                .ant-btn {
                  margin-top: 1rem;
                  width: 100%;
                  span {
                    justify-content: center;
                    margin: 0;
                  }
                }
                span {
                  display: flex;
                  align-items: center;
                  margin-right: 0.5rem;
                  a {
                    color: $secondary-color-text;
                    &:hover {
                      color: $primary-color;
                    }
                  }
                  svg {
                    height: 16px;
                    color: $primary-color;
                  }
                }
              }
            }
          }
          .ant-card-meta-title {
            .username {
              display: flex;
              a {
                .user-handle {
                  color: $black;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    color: $primary-color;
                  }
                }
              }
              p {
                display: flex;
                align-items: center;
                margin: 0;
                margin-right: 4px;
                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
