@import "./Variables.scss";

.scream-list {
  .scream-list-content {
    // .ant-list-item-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    margin-bottom: 1rem;
    background-color: #fff;
    .ant-list-item-action {
      li {
        .ant-space {
          &-item:first-child {
            cursor: pointer;
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.2);
              color: $primary-color;
            }
          }
        }
      }
    }
    .ant-list-item-meta {
      flex: unset;
      margin-bottom: 8px;
      &-content {
        .ant-list-item-meta-title {
          margin-bottom: 4px;
          a {
            .username {
              display: flex;
              .verified-badge {
                margin-top: 2.5px;
              }
              p {
                display: flex;
                align-items: center;
                margin: 0;
                margin-right: 4px;
                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }
    .ant-list-item-action {
      margin: 0;
    }
    // }
  }
}
