.scream-list-content {
  .ant-list-item-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .ant-list-item-meta {
      flex: unset;
      margin-bottom: 8px;
      &-content {
        .ant-list-item-meta-title {
          margin-bottom: 4px;
          a {
            .username {
              display: flex;
              p {
                display: flex;
                align-items: center;
                margin: 0;
                margin-right: 4px;
                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }
    .ant-list-item-action {
      margin: 0;
    }
  }
}
