.scream-skeleton-wrapper {
  .ant-spin-nested-loading {
    .ant-spin-container {
      .ant-list-items {
        .ant-list-item {
          background-color: $white;
          margin-bottom: 1rem;
          padding: 2rem;
        }
      }
    }
  }
}
