@import "./Variables.scss";

.scream-details {
  .ant-modal-content {
    .ant-modal-header,
    .ant-modal-footer {
      display: none;
    }
    .ant-modal-body {
      .scream-loader {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ant-row {
        .user-avatar {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          .ant-avatar {
            img {
              object-fit: contain;
              background-color: $black;
            }
          }
        }
        .user-info {
          .like-comment-row {
            .ant-space {
              margin-right: 2.5rem;
              &-item:first-child {
                font-size: 20px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                  transform: scale(1.2);
                  color: $primary-color;
                }
              }
              &-item:last-child {
                font-size: 16px;
              }
            }
          }
          a {
            .ant-typography {
              transition: all 0.2s ease-in;
              margin: 0;
              margin-bottom: 0.5rem;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
