@import "./Variables.scss";

.scream-details {
  .ant-modal-content {
    .ant-modal-header,
    .ant-modal-footer {
      display: none;
    }
    .ant-modal-body {
      .like-comment-row {
        .ant-space {
          margin-right: 2rem;
          &-item:first-child {
            font-size: 18px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.2);
              color: $primary-color;
            }
          }
          &-item:last-child {
            font-size: 16px;
          }
        }
      }
      .scream-body {
        padding-bottom: 1rem;
      }
      .scream-comment-form {
        flex-direction: column;
      }
      .scream-comments {
        .ant-comment {
          &-inner {
            .ant-comment-avatar {
              img {
                background-color: $black;
                height: 40px;
                width: 40px;
                object-fit: contain;
              }
            }
            .ant-comment-content {
              &-author {
                &-name {
                  font-size: 14px;
                  a {
                    &:hover {
                      color: $primary-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .scream-loader {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ant-row {
        .user-avatar {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .ant-avatar {
            img {
              object-fit: contain;
              background-color: $black;
            }
          }
        }
        .user-info {
          a {
            .ant-typography {
              transition: all 0.2s ease-in;
              margin: 0;
              margin-bottom: 0.5rem;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
