@import "./Variables.scss";

.scream-list {
  .scream-list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    margin-bottom: 1rem;
    background-color: $white;
    .scream-body {
      padding: 1rem 0;
    }
    .ant-list-item-action {
      li {
        .ant-space {
          &-item:first-child {
            cursor: pointer;
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.2);
              color: $primary-color; //! Will remove when comment implement
            }
            .not-authorized-to-like {
              a {
                color: unset;
                &:hover {
                  transform: scale(1.2);
                  color: $primary-color;
                }
              }
            }
          }
        }
      }
    }
    .ant-list-item-meta {
      flex: unset;
      margin-bottom: 8px;
      &-avatar {
        img {
          object-fit: contain;
          background-color: $black;
        }
      }
      &-content {
        position: relative;
        .ant-list-item-meta-description {
          position: absolute;
          top: 55%;
        }
        .ant-list-item-meta-title {
          margin-bottom: 4px;
          .username {
            display: flex;
            justify-content: space-between;
            a {
              .user-info {
                display: flex;
                .verified-badge {
                  margin-top: 2.5px;
                }
                p {
                  display: flex;
                  align-items: center;
                  margin: 0;
                  margin-right: 4px;
                  svg {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }
            .user-actions {
              display: flex;
              div {
                button {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
    .ant-list-item-action {
      margin: 0;
    }
  }
}
